/* Apply the background image to the entire body */
body {
  font-family: Arial, sans-serif;
  text-align: center;
  padding: 20px;
  background-image: url('background.jpg');  /* Update with your image path */
  background-size: cover;                  /* Ensures the image covers the entire page */
  background-position: center center;      /* Centers the image */
  background-attachment: fixed;            /* Keeps the background fixed during scrolling */
  color: white;                            /* Text color for better contrast */
}

h1 {
  position: absolute;
  top: 10px;
  left: 10px;
  margin: 0;
  color: white;
  font-family: 'Mountains of Christmas', cursive; /* Festive Christmas font */
  font-size: 46px; /* Adjust the size as needed */
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3); /* Optional: Add a shadow for depth */
}

/* Center container for sound buttons */
.div-sound-buttons {
     display: grid;                   /* Use grid layout */
    grid-template-columns: repeat(3, 1fr); /* 3 columns of equal width */
    gap: 10px;                       /* Gap between columns and rows */
    justify-content: center;         /* Center items horizontally */
    align-items: flex-start;         /* Align items to the top vertically */
    padding: 20px;                   /* Padding around the buttons */
    max-width: 600px;                /* Limit the grid width to 800px, ensuring it stays within the center */
    margin-left: 0;                  /* Align the grid directly to the left */
    margin-right: 0;                 /* Align the grid directly to the left */
    margin-top: 170px;                /* Increase the margin-top to move the grid down */
}


.sound-button {
  margin: 10px;
  padding: 10px 20px;
  color: white;
  border: 1px solid green;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
  border-radius: 5px;
  background: rgba(76, 175, 80, 0.8); /* Green button with transparency */
  transition: transform 0.2s ease;
}

.sound-button:hover {
 background-color: rgba(56, 145, 56, 0.9); /* Darker green on hover */
 transform: translateY(-3px);        /* Slight lift effect on hover */
}

.volume-control {
  margin-top: 20px;
}

input[type="range"] {
  width: 200px;
  margin-top: 10px;
}
